<div class="container-fluid bg-dark text-light text-center mt-5" style="position: absolute; bottom: 0;">
  <span class=""> Copyright © Ramakrishna Mission Vivekananda College </span>
</div>
</body>

<footer class="footer fixed-bottm">
  
</footer>
</html>
