
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ramakrishna Mission Vivekananda College (Autonomous)</title>
<style>
    body{
        font-family: arial;
        font-size: 13px;
    }
    .vertical_line{
        display: block;
        -webkit-transform: rotate(270deg); 
        -moz-transform: rotate(270deg);	
        position: absolute;
        font-size: 15px;
    }
    .topborder{
        border-bottom:none;
    }
    .btmborder{
        border-bottom:none;
        border-top:none;
    }
        
    .btmborder1{
        border-top:none;
    }
</style>
</head>

<body>

<div style="margin:0 auto;width:1000px;border:1px solid #000;padding:10px;">

<table width="100%" border="1" cellpadding="5"  cellspacing="0" style="border-bottom:none;" >
<tr>
<td style="border-right:none;width:18%">&nbsp;</td>
<td style="border-right:none;border-left:none;">
<center><strong><span style="font-size:19px;font-family:Arial;">RAMAKRISHNA MISSION VIVEKANANDA &nbsp;(EVENING) COLLEGE</span><br /></strong></center>
<center><strong><span style="font-size:19px;font-family:Arial;">(AUTONOMOUS)</span></strong></center>
<center>MYLAPORE, CHENNAI - 600004</center>
<center>AFFILIATED TO THE UNIVERSITY OF MADRAS &nbsp;<strong>(</strong> College Code &nbsp; <strong> 1328 <strong>)</strong></center>
<center><strong>B.SC</strong>&nbsp;  DEGREE EXAMINATION</center>
<center>(CHOICE BASED CREDIT SYSTEM)</center>
<center><strong>GRADE CARD</strong></center>
</td>
<td style="border-left:none;"  align="center" width="20%"> &nbsp; </td>
</tr>
</table>

<table border="1" width="100%" cellpadding="10"  cellspacing="0" style="border-top:none;border-bottom:none;">

<tr>
<td width="45%" align="center"> <strong>Name of the Degree </strong><br />
<br />
<b>B.SC</b>&nbsp;&nbsp; COMPUTER SCIENCE</td>
<!--<td align="center"><strong>Semester</strong> <br />
<br />
FOURTH</td>-->
<td align="center"><strong></strong> <br />
</td>
<td align="center" width="18%"><strong>Month &amp; Year </strong><br />
<br />
APRIL - 2021</td>
<td align="center" width="20%"><strong>Serial No</strong> <br />
<br />
--</td>
</tr>

<tr>
<td width="45%" align="center"><strong>Name of the Candidate</strong><br />
<br />
SURAJ A</td>
<td align="center" width="14%"><strong>Register No</strong> <br />
<br />
1913281058014</td>
<!--<td align="center"><strong> </strong>-->
<br />
<td align="center"><strong>Date Of Birth</strong> <br />
<br />
--</td>
<td align="center" width="20%"><strong>Date of Publication</strong><br />
<br />
--</td>
</tr>

</table>


<table width="100%" border="1" cellspacing="0" cellpadding="5" style="border-top:none;">
<tr height="15%">
<td width="5%" align="center" rowspan="2" class="btmborder2"><span class="vertical_line"><strong>PART</strong></span> &nbsp;</td>
<td width="10%" align="center" rowspan="2" class="btmborder2"><span class="vertical_line"><strong>&nbsp;&nbsp;&nbsp;SEMESTER</strong></span>&nbsp;</td>
<td width="105" rowspan="2" class="btmborder2"><center><strong>SUBJECT CODE</strong></center></td>
<td width="666" rowspan="2" class="btmborder2"><center><strong>TITLE OF THE SUBJECT</strong></center></td>
<td width="7%" align="center" rowspan="2" class="btmborder2" style="border-right:1px solid #000;"><span class="vertical_line"><strong>CREDITS</strong></span> &nbsp;</td>
<td width="50" height="48" style="border-bottom:none;"><center><strong>&nbsp;</strong></center></td>
<td width="49" style="border-bottom:none;"><center><strong>&nbsp;</strong></center></td>
<td width="51"><center><strong>Max. 100</strong></center></td>
<td width="7%" align="center" rowspan="2" class="btmborder2"><center><span class="vertical_line"><strong>GRADE<br />POINT</strong></span> &nbsp;</center></td>
<td width="6%" align="center" rowspan="2" class="btmborder2"><center><span class="vertical_line"><strong>GRADE </strong></span></center> &nbsp;</td>
<td width="6%" rowspan="2" class="btmborder2"><center><span class="vertical_line"><strong>RESULT</strong></span></center> &nbsp;</td>
</tr>
<tr>
  <td height="51" class="btmborder2" style="border-top:none;"><center><strong>CIA</strong><br /><br /></center></td>
  <td class="btmborder2" style="border-top:none;"><center><strong>ESE</strong><br /><br /></center></td>
  <td class="btmborder2"><center><strong>TOTAL</strong></center></td></tr>

  


<tr>
<td width="5%" align="center" class="btmborder" >3</td>
<td width="10%" align="center" class="btmborder">4</td>
<td width="105" align="center"class="btmborder" >19UCSAL04</td>
<td width="666" align="left" class="btmborder">COMPUTER ORIENTED OPERATION RESEARCH (THEORY & PRACTICAL)</td>
<td width="7%" align="center" class="btmborder">5</td>
<td width="50" align="center" class="btmborder">23</td>
<td width="49" align="center" class="btmborder">69</td>
<td width="51" align="center" class="btmborder">92</td>
<td width="7%" align="center" class="btmborder">9.2</td>
<td width="6%" align="center" class="btmborder">O</td>
<td width="6%" align="center" class="btmborder">p</td>
</tr>

<tr>
<td width="5%" align="center" class="btmborder" >3</td>
<td width="10%" align="center" class="btmborder">4</td>
<td width="105" align="center"class="btmborder" >19UCSAM07</td>
<td width="666" align="left" class="btmborder">ADVANCED JAVA (THEORY & PRACTICAL)</td>
<td width="7%" align="center" class="btmborder">5</td>
<td width="50" align="center" class="btmborder">24</td>
<td width="49" align="center" class="btmborder">71</td>
<td width="51" align="center" class="btmborder">95</td>
<td width="7%" align="center" class="btmborder">9.5</td>
<td width="6%" align="center" class="btmborder">O</td>
<td width="6%" align="center" class="btmborder">p</td>
</tr>

<tr>
<td width="5%" align="center" class="btmborder" >3</td>
<td width="10%" align="center" class="btmborder">4</td>
<td width="105" align="center"class="btmborder" >19UCSAM08</td>
<td width="666" align="left" class="btmborder">COMPUTER NETWORKS</td>
<td width="7%" align="center" class="btmborder">4</td>
<td width="50" align="center" class="btmborder">24</td>
<td width="49" align="center" class="btmborder">68</td>
<td width="51" align="center" class="btmborder">92</td>
<td width="7%" align="center" class="btmborder">9.2</td>
<td width="6%" align="center" class="btmborder">O</td>
<td width="6%" align="center" class="btmborder">p</td>
</tr>

<tr>
<td width="5%" align="center" class="btmborder" >2</td>
<td width="10%" align="center" class="btmborder">4</td>
<td width="105" align="center"class="btmborder" >19UEGBF04</td>
<td width="666" align="left" class="btmborder">ENGLISH - IV </td>
<td width="7%" align="center" class="btmborder">3</td>
<td width="50" align="center" class="btmborder">22</td>
<td width="49" align="center" class="btmborder">55</td>
<td width="51" align="center" class="btmborder">77</td>
<td width="7%" align="center" class="btmborder">7.7</td>
<td width="6%" align="center" class="btmborder">D</td>
<td width="6%" align="center" class="btmborder">p</td>
</tr>

<tr>
<td width="5%" align="center" class="btmborder" >4</td>
<td width="10%" align="center" class="btmborder">4</td>
<td width="105" align="center"class="btmborder" >19UEGBJ05</td>
<td width="666" align="left" class="btmborder">SOFT SKILLS - IV (CREATIVE SKILLS) </td>
<td width="7%" align="center" class="btmborder">3</td>
<td width="50" align="center" class="btmborder">20</td>
<td width="49" align="center" class="btmborder">51</td>
<td width="51" align="center" class="btmborder">71</td>
<td width="7%" align="center" class="btmborder">7.1</td>
<td width="6%" align="center" class="btmborder">A+</td>
<td width="6%" align="center" class="btmborder">p</td>
</tr>

<tr>
<td width="5%" align="center" class="btmborder" >4</td>
<td width="10%" align="center" class="btmborder">4</td>
<td width="105" align="center"class="btmborder" >19UESBV01</td>
<td width="666" align="left" class="btmborder">ENVIRONMENTAL STUDIES </td>
<td width="7%" align="center" class="btmborder">2</td>
<td width="50" align="center" class="btmborder">24</td>
<td width="49" align="center" class="btmborder">67</td>
<td width="51" align="center" class="btmborder">91</td>
<td width="7%" align="center" class="btmborder">9.1</td>
<td width="6%" align="center" class="btmborder">O</td>
<td width="6%" align="center" class="btmborder">p</td>
</tr>

<tr>
<td width="5%" align="center" class="btmborder" >1</td>
<td width="10%" align="center" class="btmborder">4</td>
<td width="105" align="center"class="btmborder" >19UTMBF04</td>
<td width="666" align="left" class="btmborder">TAMIL - IV</td>
<td width="7%" align="center" class="btmborder">3</td>
<td width="50" align="center" class="btmborder">23</td>
<td width="49" align="center" class="btmborder">65</td>
<td width="51" align="center" class="btmborder">88</td>
<td width="7%" align="center" class="btmborder">8.8</td>
<td width="6%" align="center" class="btmborder">D+</td>
<td width="6%" align="center" class="btmborder">p</td>
</tr>

 <tr class="btmborder">
      <td width="5%" align="center" class="btmborder" >&nbsp;</td>
      <td width="10%" align="center" class="btmborder">&nbsp;</td>
      <td width="105" align="center"class="btmborder" >&nbsp;</td>
      <td width="666" align="center" class="btmborder">*** End Of Statement ***</td>
      <td width="7%" align="center" class="btmborder">&nbsp;</td>
      <td width="50" align="center" class="btmborder">&nbsp;</td>
      <td width="49" align="center" class="btmborder">&nbsp;</td>
      <td width="51" align="center" class="btmborder">&nbsp;</td>
      <td width="7%" align="center" class="btmborder">&nbsp;</td>
      <td width="6%" align="center" class="btmborder">&nbsp;</td>
      <td width="6%" align="center" class="btmborder">&nbsp;</td>
    </tr>
    <tr class="btmborder">
      <td width="5%" align="center" class="btmborder" >&nbsp;</td>
      <td width="10%" align="center" class="btmborder">&nbsp;</td>
      <td width="105" align="center"class="btmborder" >&nbsp;</td>
      <td width="666" align="center" class="btmborder">&nbsp;</td>
      <td width="7%" align="center" class="btmborder">&nbsp;</td>
      <td width="50" align="center" class="btmborder">&nbsp;</td>
      <td width="49" align="center" class="btmborder">&nbsp;</td>
      <td width="51" align="center" class="btmborder">&nbsp;</td>
      <td width="7%" align="center" class="btmborder">&nbsp;</td>
      <td width="6%" align="center" class="btmborder">&nbsp;</td>
      <td width="6%" align="center" class="btmborder">&nbsp;</td>
    </tr>
    <tr class="btmborder">
      <td width="5%" align="center" class="btmborder" >&nbsp;</td>
      <td width="10%" align="center" class="btmborder">&nbsp;</td>
      <td width="105" align="center"class="btmborder" >&nbsp;</td>
      <td width="666" align="center" class="btmborder">&nbsp;</td>
      <td width="7%" align="center" class="btmborder">&nbsp;</td>
      <td width="50" align="center" class="btmborder">&nbsp;</td>
      <td width="49" align="center" class="btmborder">&nbsp;</td>
      <td width="51" align="center" class="btmborder">&nbsp;</td>
      <td width="7%" align="center" class="btmborder">&nbsp;</td>
      <td width="6%" align="center" class="btmborder">&nbsp;</td>
      <td width="6%" align="center" class="btmborder">&nbsp;</td>
    </tr>
    
    <tr class="btmborder">
      <td width="5%" align="center" class="btmborder" >&nbsp;</td>
      <td width="10%" align="center" class="btmborder">&nbsp;</td>
      <td width="105" align="center"class="btmborder" >&nbsp;</td>
      <td width="666" align="left" class="btmborder">&nbsp;</td>
      <td width="7%" align="center" class="btmborder">&nbsp;</td>
      <td width="50" align="center" class="btmborder">&nbsp;</td>
      <td width="49" align="center" class="btmborder">&nbsp;</td>
      <td width="51" align="center" class="btmborder">&nbsp;</td>
      <td width="7%" align="center" class="btmborder">&nbsp;</td>
      <td width="6%" align="center" class="btmborder">&nbsp;</td>
      <td width="6%" align="center" class="btmborder">&nbsp;</td>
    </tr>
    <tr class="btmborder">
      <td width="5%" align="center" class="btmborder" >&nbsp;</td>
      <td width="10%" align="center" class="btmborder">&nbsp;</td>
      <td width="105" align="center"class="btmborder" >&nbsp;</td>
      <td width="666" align="left" class="btmborder">&nbsp;</td>
      <td width="7%" align="center" class="btmborder">&nbsp;</td>
      <td width="50" align="center" class="btmborder">&nbsp;</td>
      <td width="49" align="center" class="btmborder">&nbsp;</td>
      <td width="51" align="center" class="btmborder">&nbsp;</td>
      <td width="7%" align="center" class="btmborder">&nbsp;</td>
      <td width="6%" align="center" class="btmborder">&nbsp;</td>
      <td width="6%" align="center" class="btmborder">&nbsp;</td>
    </tr>
    <tr class="btmborder1">
      <td width="5%" align="center" class="btmborder1" >&nbsp;</td>
      <td width="10%" align="center" class="btmborder1">&nbsp;</td>
      <td width="105" align="center"class="btmborder1" >&nbsp;</td>
      <td width="666" align="left" class="btmborder1">&nbsp;</td>
      <td width="7%" align="center" class="btmborder1">&nbsp;</td>
      <td width="50" align="center" class="btmborder1">&nbsp;</td>
      <td width="49" align="center" class="btmborder1">&nbsp;</td>
      <td width="51" align="center" class="btmborder1">&nbsp;</td>
      <td width="7%" align="center" class="btmborder1">&nbsp;</td>
      <td width="6%" align="center" class="btmborder1">&nbsp;</td>
      <td width="6%" align="center" class="btmborder1">&nbsp;</td>
    </tr>
</table>
 


<table width="100%" border="1" cellspacing="0" cellpadding="30" style="border-top:none;border-bottom:none;">
<tr>
<td width="25%" style="border-right:none;border-top:none;border-bottom:none;"><table border="0" cellpadding="6" cellspacing="0" style="border-top:none;">
</table></td>


<!-- second table -->
<td  style="border-left:none;border-right:none;border-top:none;border-bottom:none;">
<table border="0" cellpadding="6" cellspacing="0" >


</table>
</td>


<td style="border:none;">&nbsp;

</td>
</tr>
</table>

<table width="100%" border="1" cellspacing="0" cellpadding="10" style="border-top:none;">
 <tr>
    <td><span style="font-size:20px;"><strong>Note:</strong></span><li> <span style="font-size:15px;"><strong>This is only a provisional result.</strong></li><br><li> <span style="font-size:15px;"><strong> Students(II & IV Semester of UG and II Semester of PG alone) may send email to <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3754585277455c5a4154195654195e59">[email&#160;protected]</a> for queries on or before 20-09-2021 without fail.</strong></li><!--<BR><span style="font-size:15px;"><strong><li>2. Application Form for Revaluation will be issued from 02-06-2017.</li><BR></strong><span style="font-size:15px;"><strong><li>3. Application Form for Supplementary Examination will be issued from 05-06-2017 and last date for submission is on 21-06-2017.</STRONG>--></td></tr>  
    </tr>
    <tr>
    <td><strong>UG:</strong> Passing Minimum 30 marks in ESE and 40% in Total, <strong><br />
        <strong>GPA:</strong> Grade Point Average, P: PASS, RA: Re-Appear, AAA: Absent: *:Not secured passing minimum, CIA: Continuous Internal Assessment, ESE: End Semester Examinations</td>
</tr>
<tr></tr>
<tr>
     <td><span><strong>Disclaimer:</strong> The results published on college website are for immediate information and cannot be treated as original mark sheets. Neither Web Administrator nor COE is responsible for any inadvertent error that may have crept in the results being published on website. Original mark sheets shall be issued by the COE Office.</td>
    </tr>

</table>


</div>
<p align="left" style="margin:0 auto;width:50px;"><a href="JavaScript:window.print();"><img src="images/1323320567_print.jpg" width="40" alt="" /><br />Print</a></p>


<!--<p align="right"><img src="images/1323320446_print_64.png" width="40" alt="" /></p>-->

<!--<a href="JavaScript:window.print();">Print this page</a>-->



<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script></body>
</html>
